@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;400&display=swap");

@media (max-width: 767px) {
  .container {
    flex-wrap: wrap;
    padding: 0.5em;
  }
  .image {
    width: 100%;
  }
  .controllers {
    width: 100%;
  }
  .controller {
    margin: 0.25em;
  }
  button {
    height: 4em;
  }
}
@media (min-width: 768px) {
  .container {
    padding: 1em 1em 0;
  }
  .image {
    width: calc(70% - 2em);
  }
  .controllers {
    width: calc(30% - 2em);
  }
  .controller {
    margin: 0.5em;
  }
  button {
    height: 3em;
  }
}

:root {
  --brightness: 100%;
  --contrast: 100%;
  --saturate: 100%;
  --hue-rotate: 0deg;
  --sepia: 0%;
  --greyscale: 0%;
  --rotateY: 0deg;
  --rotateX: 0deg;
}

html {
  text-align: center;
  font-family: "Exo 2", sans-serif;
  min-height: 100vh;
}
body {
  margin: 0;
}
.container {
  display: flex;
}
h1 {
  margin-bottom: 0;
}
.image,
.controllers {
  border: 1px solid #ccc;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 0.5em;
  padding: 1em;
  height: fit-content;
  border-radius: 0.5em;
}
img {
  width: 100%;
  filter: brightness(var(--brightness)) contrast(var(--contrast))
    hue-rotate(var(--hue-rotate)) saturate(var(--saturate)) sepia(var(--sepia))
    grayscale(var(--greyscale));
  transform: rotateX(var(--rotateX)) rotateY(var(--rotateY));
  max-height: 35em;
}
.controllers {
  display: flex;
  flex-direction: column;
}
.controller {
  display: grid;
}
label {
  text-transform: capitalize;
  display: flex;
  float: left;
}
input {
  cursor: pointer;
}
.input-value {
  font-size: 0.8em;
  display: flex;
  justify-content: flex-end;
}
.buttons {
  margin: 0.5em 0 0;
}
button {
  margin: 0.8em 0.5em;
  padding: 0.75em 1.5em;
  width: 12em;
  background-color: #0175ff;
  color: #fff;
  border: none;
  border-radius: 0.25em;
  box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px,
    rgb(0 0 0 / 30%) 0px 3px 7px -3px;
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
}
footer {
  padding: 0;
  margin: 0;
  font-size: 0.8em;
}