@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;400&display=swap');

@media (max-width: 767px) {
  .container {
    flex-wrap: wrap;
    padding: 0.5em;
  }
  .image {
    width: 100%;
  }
  .controllers {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    padding: 1em;
  }
  .image {
    width: calc(70% - 2em);
  }
  .controllers {
    width: calc(30% - 2em);
  }
}

html {
  text-align: center;
  font-family: 'Exo 2', sans-serif;
  min-height: 100vh;
}
body {
  margin: 0;
}
.container {
  display: flex;
}
.image,
.controllers {
  border: 1px solid #ccc;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 0.5em;
  padding: 1em;
  min-height: fit-content;
  border-radius: 0.5em;
}
img {
  width: 100%;
}